{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<form action="{% url 'entrance'%}" method="POST">

        {% csrf_token %}

        <input type="text" required placeholder="Имя" name="name" value="{{name_}}"><br>
        <textarea name="password" required placeholder="Пароль" cols="30" rows="10"></textarea><br>
        <a style="color: red;">Неверный пароль</a>

        <button type="submit">Войти</button>

    </form>


{% endblock %}