{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}

{% block content %}
<form action="{% url 'new_user'%}" method="POST">

        {% csrf_token %}
        <a style="color: red;">Данное имя занято</a><br>
        <input type="text" required placeholder="Ваше имя" name="name"><br>
        <textarea name="region" required placeholder="Ваш регион" cols="30" rows="10">{{region}}</textarea><br>
        <input type="number" name="age" required placeholder="Ваш возраст"  value="{{age}}"><br>
        <textarea name="floor" required placeholder="Ваш пол" cols="30" rows="10">{{floor}}</textarea><br>
        <textarea name="password" required placeholder="Пароль" cols="30" rows="10">{{password}}</textarea><br>
        <textarea name="confirm_password" required placeholder="Повторите пароль" cols="30" rows="10"></textarea><br>


        <button type="submit">Зарегистрироваться</button>

    </form>


{% endblock %}