{% extends 'base.html' %}

{% block content %}
<style>
    .text-block {
        font-family: Calibri;
        color: white;
        font-size:60px;
        margin-left:130px;
        margin-top:150px;
    }
    .text-block1 {
        font-family: Calibri;
        color: white;
        font-size:60px;
        margin-left:50px;
    }
    .text-block2 {
        font-family: ;
        color: white;
        font-size:40px;
        margin-left:50px;
    }
</style>
    <div class="text-block"><b>Data Studio</b> - ваш путь </div>
    <div class="text-block1">в мир синтетических данных.</div><br>
    <div class="button"><b>Приступить к созданию</b></div>
    <div class="button1"><b>Смотреть шаблоны</b></div>
    <br><br><br><br><br>
    <hr size="5" width="1485" color="#ffffff">
    <div class="text-block2">Про нас:</div>
{% endblock %}


