{% extends 'base.html' %}

{% block content %}
<h1 style="color: white; margin-left:35%">Карта ресторанов и кафе</h1>
<iframe src="https://www.google.com/maps/embed?pb=!1m16!1m12!1m3!1d41204.93190010884!2d88.06253103469568!3d53.67671902065776!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!2m1!1z0KDQtdGB0YLQvtGA0LDQvdGL!5e0!3m2!1sru!2sru!4v1731215788996!5m2!1sru!2sru" width="700" height="450" style="border:0; margin-left: 25%" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
{% endblock %}